@model BlogApp.Models.Comment

@{
    ViewData["Title"] = "Comment Details";
}

<h1>@ViewData["Title"]</h1>


<div class="card">
    <div class="card-header">@Model.CommentDate</div>
    <div class="card-text py-2 px-3">@Model.Content</div>
    <div class="card-footer">

        @if (User.IsInRole("Administrator"))
        {
            <a asp-controller="Comment" asp-action="Edit" asp-route-id="@Model.CommentId" class="btn btn-warning">Edit</a>
            <form asp-controller="Comment" asp-action="Delete" asp-route-id="@Model.CommentId" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        }
        @if (User.IsInRole("Moderator"))
        {
            <a asp-controller="Comment" asp-action="Edit" asp-route-id="@Model.CommentId" class="btn btn-warning">Edit</a>
        }
        <a asp-controller="Home" asp-action="Comments" class="btn btn-secondary">Back to List</a>
    </div>
</div>
